:root{
    --colorTerminal-: black;
    --colorborderTerminal-: grey;
    --fontcolorTerminal-: green;
    --laengeUsername-: 50px;
}
body{
    margin: 0;
}
header{
    position: fixed;
    height: 5vw;
    width: 100%;
    background-color: dimgrey;
    left: 5vw;
    top: 0;

}
#navbar {
    background-color: black;
    width: 5vw;
    position: fixed;
    left: 0px;
    top: 0;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}
#display {
    margin-top: 5vw;
    margin-left:5vw;
    padding: 10px 50px;
}
#terminalInput {
    background-color: var(--colorTerminal-);
    color: var(--fontcolorTerminal-);
    /*height: auto;*/
    display: inline;
    position: relative;
    font-size: 14.3px;
    font-family: Arial;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;

}
#terminalInput label{
    vertical-align: top;
    overflow: auto;
    width: var(--laengeUsername-);
    position: absolute;

}
#input {

    color: var(--fontcolorTerminal-);
    background-color: var(--colorTerminal-);
    align-self: baseline;
    text-indent: var(--laengeUsername-);
    border: none;
    width: 100%;
    max-width: 100%;
    text-decoration: none;
    padding: 0px;
    outline: none;
    font-size: 14.3px;
    font-family: Arial;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    /*   -webkit-appearance: none;

   /*  position: relative;
        left: auto;
    */
}

