@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

:root{
    --colorTerminal-: black;
    --colorborderTerminal-: grey;
    --fontcolorTerminal-: green;
    --laengeUsername-: 50px;
}
body{
    margin: 0;
}
header{
    position: fixed;
    height: 5vw;
    width: 100%;
    background-color: dimgrey;
    left: 5vw;
    top: 0;

}
#navbar {
    background-color: black;
    width: 5vw;
    position: fixed;
    left: 0px;
    top: 0;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}
#layout{
    overflow: hidden;
    height: 100vh;
    width:100%;
    left: 5%;
}
#aufgabe {
    background-color:white;
    color:black;
    resize: both;
    height:44vh;
    width:100%;
    overflow: hidden;
    margin-left: 5%;
    margin-top: 5%;
}
#terminal {
    background-color: black;
    word-spacing: 3px;
    font-weight: lighter;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    height:50vh;
    width:100%;
    resize: both;
    overflow:hidden;
    margin-left: 5%;
}

#terminalInput{
    background-color: black;
    border-color:black;
    height: auto;
    width: 100%;
    color: white;
    outline:none;
    font-family: 'Ubuntu Mono', monospace;
}

#horizontal{
    cursor: row-resize;
    width: 100%;
    height: 4px;
    position:absolute;
}

div{
    display:block;
}